<?xml version="1.0" ?>
<web-app> 
	<session-config> 
        <session-timeout>10</session-timeout>
    </session-config>
	
	<servlet> 
		<servlet-name>crco</servlet-name>
		<servlet-class>controller.CreerCompte</servlet-class>       
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>crco</servlet-name>
		<url-pattern>/creer-compte</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>seco</servlet-name>
		<servlet-class>controller.Connexion</servlet-class>       
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>seco</servlet-name>
		<url-pattern>/se-connecter</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>rchvol</servlet-name>
		<servlet-class>controller.RechercherVol</servlet-class>       
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>rchvol</servlet-name>
		<url-pattern>/rechercher-vol</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>reserv</servlet-name>
		<servlet-class>controller.Reserver</servlet-class>       
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>reserv</servlet-name>
		<url-pattern>/reserver</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>affres</servlet-name>
		<servlet-class>controller.ControlerReservations</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>affres</servlet-name>
		<url-pattern>/controler-reservations</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>confres</servlet-name>
		<servlet-class>controller.ConfirmerReservation</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>confres</servlet-name>
		<url-pattern>/confirmer-reservation</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>acc</servlet-name>
		<servlet-class>controller.Accueil</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>acc</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>deco</servlet-name>
		<servlet-class>controller.Deconnexion</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>deco</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>ajvol</servlet-name>
		<servlet-class>controller.AjouterVol</servlet-class>
	</servlet>
	
	<servlet-mapping> 
		<servlet-name>ajvol</servlet-name>
		<url-pattern>/ajouter-vol</url-pattern>
	</servlet-mapping>
</web-app>
